<nav class="navbar">
  <div class="container-xl">
    <div class="navbar-header d-flex">
      <!-- logo -->
      <a href="#" class="navbar-brand">
        <i class="fab fa-500px"></i>
        Recipe Book</a>
      <!--nav links-->
      <nav class="nav">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="/auth"
           *ngIf="!isAuth"
        >
          Authorization
        </a>
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="/recipes"
           *ngIf="isAuth"
        >
          Recipes
        </a>
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="/shopping"
           *ngIf="isAuth">
          Shopping List
        </a>
      </nav>
    </div>

    <div class="d-flex justify-content-center">
      <!--logout-->
      <a class="nav-link auth-state mr-2" *ngIf="isAuth" (click)="onLogout()">
        Logout
      </a>
      <!--drop down menu-->
      <ul class="nav navbar-nav navbar-right" *ngIf="isAuth">
        <li class="dropdown" appDropDown>
          <a class="dropdown-toggle" role="button">
            Manage <span class="caret"></span>
          </a>
          <div class="dropdown-menu nav-drop-down">
            <a class="dropdown-item" (click)="onSaveData()">Save Data</a>
            <a class="dropdown-item" (click)="onFetchData()">Fetch Data</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>
