@import "../shared/variables";

.navbar {
  font-weight: bold;
  background-color: $palette-color-1;

  &-brand {
    font-weight: bold;
    font-size: 1.3rem
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;

    .active {
      color: $palette-color-2;
      border-right: 2px solid $palette-color-2;
      border-left: 2px solid $palette-color-2;
    }
  }
}

a {
  color: white;
  font-size: 0.95rem;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: white;
  }
}

.nav-drop-down {
  position: absolute;
  left: -80px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;

  a {
    color: black;
    padding: 4px 24px;
  }

}
