@keyframes ldio-wlkj41fehf {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(0.8, 0.8);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.ldio-wlkj41fehf div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #774936;
  animation: ldio-wlkj41fehf 1.01010101010101s linear infinite;
}

.ldio-wlkj41fehf div:nth-child(1) > div {
  left: 116px;
  top: 94px;
  animation-delay: -0.8838383838383838s;
}

.ldio-wlkj41fehf > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 122px 100px;
}

.ldio-wlkj41fehf div:nth-child(2) > div {
  left: 110px;
  top: 110px;
  animation-delay: -0.7575757575757575s;
}

.ldio-wlkj41fehf > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 116px 116px;
}

.ldio-wlkj41fehf div:nth-child(3) > div {
  left: 94px;
  top: 116px;
  animation-delay: -0.6313131313131313s;
}

.ldio-wlkj41fehf > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 122px;
}

.ldio-wlkj41fehf div:nth-child(4) > div {
  left: 78px;
  top: 110px;
  animation-delay: -0.505050505050505s;
}

.ldio-wlkj41fehf > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 84px 116px;
}

.ldio-wlkj41fehf div:nth-child(5) > div {
  left: 72px;
  top: 94px;
  animation-delay: -0.37878787878787873s;
}

.ldio-wlkj41fehf > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 78px 100px;
}

.ldio-wlkj41fehf div:nth-child(6) > div {
  left: 78px;
  top: 78px;
  animation-delay: -0.2525252525252525s;
}

.ldio-wlkj41fehf > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 84px 84px;
}

.ldio-wlkj41fehf div:nth-child(7) > div {
  left: 94px;
  top: 72px;
  animation-delay: -0.12626262626262624s;
}

.ldio-wlkj41fehf > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 78px;
}

.ldio-wlkj41fehf div:nth-child(8) > div {
  left: 110px;
  top: 78px;
  animation-delay: 0s;
}

.ldio-wlkj41fehf > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 116px 84px;
}

.loadingio-spinner-spin-mczk6lw4zd {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-wlkj41fehf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-wlkj41fehf div {
  box-sizing: content-box;
}
