@import "../../shared/variables";

:host {
  width: 100%;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  box-shadow: 0 0 0 0.1rem rgba(255, 0, 0, 0.35);
  border-color: red;
}

.btn-group {
  button {
    margin: 1rem 0.4rem 0.4rem;
  }
}

label {
  font-weight: bold;
  color: $palette-color-1;
}

img {
  width: 100%;
  max-width: 390px;
  height: auto;
  border-radius: 1rem;
}

.image-container{
  display: flex;
  justify-content: center;
}
