<div class="row ">
  <div class="col-sm-12">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <!--Buttons Group-->
      <div class="row">
        <div class="btn-group col-sm-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!editForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-primary cancel" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <!--Name-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <!--Image-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
              #imagePathPreview
            />
          </div>
        </div>
      </div>
      <!--Image Preview-->
      <div
        class="row mb-3"
        *ngIf="editForm.get('imagePath').valid"
      >
        <div class="col-sm-12 image-container">
          <img
            src="{{imagePathPreview.value}}"
            class="img-responsive"
            alt="No Image Available">
        </div>
      </div>
      <!--Description-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              rows="5"
              formControlName="description">
            </textarea>
          </div>
        </div>
      </div>
      <!--Ingredients Line-->
      <div class="row">
        <div class="col-sm-12" formArrayName="ingredients">
          <div class="row mt-1"
               *ngFor="let _ of editForm.get('ingredients')['controls']; let i = index"
               [formGroupName]="i">
            <div class="col-sm-6">
              <input
                type="text"
                class="form-control"
                formControlName="name">
            </div>
            <div class="col-sm-4">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              >
            </div>
            <div class="col-sm-2">
              <button class="btn btn-danger" (click)="deleteIngredient(i)">X</button>
            </div>
          </div>
          <hr class="mb-0">
          <div class="row mb-2 mt-2">
            <div class="col-sm-12">
              <button
                class="btn btn-success"
                type="button"
                (click)="addIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
