@import "../shared/variables";

.row {
  height: 50vh;
  display: flex;
  align-items: center;
}

form {
  background-color: $palette-color-1-opacity;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
  padding: 0.8rem;
}

h1 {
  display: flex;
  justify-content: center;
  color: $palette-color-1;
}

input {
  margin-bottom: 0.5rem;
}

.btn-block {
  button:first-child {
    margin-right: 0.4rem;
  }

  display: flex;
  justify-content: center;
}

.error-message {
  box-shadow: $box-shadow;
}
