<div class="recipe-detail" *ngIf="currentRecipe">
    <!-- title -->
    <div class="row text-center header">
      <div class="col-sm-12">
        <h2>- {{currentRecipe.name}} -</h2>
      </div>
    </div>
    <!-- image -->
    <div class="row mb-2">
      <div class="col-sm-12 image-container">
        <img src="{{currentRecipe.imagePath}}"
             alt=""
             class="img-responsive detail-image">
      </div>
    </div>
    <!--Edit block-->
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group">
          <div class="dropdown" appDropDown>
            <a class="btn btn-primary dropdown-toggle text-white"
               role="button" id="dropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Manage Recipe <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" (click)="addToShoppingList()">To Shopping List</a>
              <a class="dropdown-item" (click)="onEdit()">Edit Recipe</a>
              <a class="dropdown-item" (click)="onDelete()">Delete Recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--description-->
    <div class="row mt-2">
      <div class="col-sm-12 description">
        <h6 class="mb-1">Description:</h6>
        <p class="mb-1 font-italic">{{currentRecipe.description}}</p>
      </div>
    </div>
    <!--Ingredients-->
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-group">
          <li
            *ngFor="let ingredient of currentRecipe.ingredients"
            class="list-group-item"
          >
            <span class="amount"> {{ingredient.amount}} </span>
            {{ingredient.name}}
          </li>
        </ul>
      </div>
    </div>
</div>
