$palette-color-1: #774936;
$palette-color-1-opacity: rgba(119, 73, 54, 0.45);
$palette-color-2: #f4d35e;
$text-color-dark: #370617;
$box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
