@import "../../shared/variables.scss";

p {
  color: $text-color-dark;
  font-style: italic;
  margin: 0;
  padding-bottom: 0.3rem;
  vertical-align: center;
}

span {
  margin: 0.2rem;
  padding: 0;
  font-size: 1.5rem;
}
