@import "../shared/variables";

:host{
  display: flex;
  align-items: flex-start;
}

.recipe-detail, .right-column {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.right-column {
  background: $palette-color-1-opacity;
  border-radius: 0.4rem;
  align-self: flex-start;
  box-shadow: $box-shadow;
  min-height:100%;
}
