@import "../../shared/variables";


button {
  padding: 0.2rem;
  margin-right: 0.3rem;
  width: 70px;
}

.edit-display {
  background-color: $palette-color-1-opacity;
  border-radius: 0.5rem;
  padding: 0.4rem 0.9rem;
  margin: 1rem;
  box-shadow: $box-shadow;

  &-inputs {
    .row {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      .col-sm-6 {
        padding: 0.2rem
      }
    }
  }


  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
